@{
	string Title = Model.WithoutSettings.String(BlogKeys.Title);
	string PageTitle = Context.String(BlogKeys.Title) + (string.IsNullOrWhiteSpace(Title) ? string.Empty : " - " + Title);
}

<!DOCTYPE html>
<html lang="en">
	<head>		
		<link href='@Context.GetLink("/assets/css/master.css")' rel="stylesheet" />
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

		<title>@PageTitle</title>
		<meta name="description" content="@Context.String(BlogKeys.Description)" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">        

		@if (Context.String(BlogKeys.RssPath) != null) {
		<link type="application/rss+xml" rel="alternate" title="@Context.String(BlogKeys.Title)" href="@Context.GetLink(Context.String(BlogKeys.RssPath))" />
		}
		@if (Context.String(BlogKeys.AtomPath) != null) {
		<link type="application/atom+xml" rel="alternate" title="@Context.String(BlogKeys.Title)" href="@Context.GetLink(Context.String(BlogKeys.AtomPath))" />
		}
		<link rel="shortcut icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon">
		<link rel="icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon">        

		<meta name="google-site-verification" content="aPcU4mF-tJDyipAevmgakMIKzyPHSfDYNhPk9BQXALw" />
		<meta name="application-name" content="@Context.String(BlogKeys.Title)" />
		<meta name="msapplication-tooltip" content="@Context.String(BlogKeys.Title)" />
		<meta name="msapplication-starturl" content="@Context.GetLink("/")" />

		<meta property="og:title" content="@PageTitle" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="@Context.GetLink(Model, true)" />

		<!--[if lt IE 9]>
			<script src="@Context.GetLink("/assets/js/html5shiv.js")"></script>
			<script src="@Context.GetLink("/assets/js/respond.min.js")"></script>
		<![endif]-->
		
		@await Html.PartialAsync("_Head")
	</head>
	<body>
		<header>
			<a id="blog-title" class="header__link" href="@Context.GetLink("/")">
			</a>    
			@await Html.PartialAsync("_Navbar")
		</header>
			@if(IsSectionDefined("Header"))
			{
				<div>
				@RenderSection("Header")
				</div>
			}
		
		<!-- Main Content -->
		<div id="content">
			@RenderBody()
		</div>
		
		<script src="@Context.GetLink("/assets/js/highlight.pack.js")"></script>
		<script src="@Context.GetLink("/assets/js/tweenmax.min.js")"></script>
		<script src="@Context.GetLink("/assets/js/leon.js")"></script>
		
		@await Html.PartialAsync("_Scripts")
		<script>
			hljs.initHighlightingOnLoad();
		</script>
	</body>
</html>

