@{
	string Title = Model.WithoutSettings.String(BlogKeys.Title);
	string PageTitle = Context.String(BlogKeys.Title) + (string.IsNullOrWhiteSpace(Title) ? string.Empty : " - " + Title);
}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

		<title>@PageTitle</title>
		<meta name="description" content="@Context.String(BlogKeys.Description)" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">        

		@if (Context.String(BlogKeys.RssPath) != null) {
		<link type="application/rss+xml" rel="alternate" title="@Context.String(BlogKeys.Title)" href="@Context.GetLink(Context.String(BlogKeys.RssPath))" />
		}
		@if (Context.String(BlogKeys.AtomPath) != null) {
		<link type="application/atom+xml" rel="alternate" title="@Context.String(BlogKeys.Title)" href="@Context.GetLink(Context.String(BlogKeys.AtomPath))" />
		}
		<link rel="shortcut icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon">
		<link rel="icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon">        

		<meta name="google-site-verification" content="aPcU4mF-tJDyipAevmgakMIKzyPHSfDYNhPk9BQXALw" />
		<meta name="application-name" content="@Context.String(BlogKeys.Title)" />
		<meta name="msapplication-tooltip" content="@Context.String(BlogKeys.Title)" />
		<meta name="msapplication-starturl" content="@Context.GetLink("/")" />

		<meta property="og:title" content="@PageTitle" />
		@* <meta property="og:image" content="@Blog.Image" /> *@
		<meta property="og:type" content="website" />
		<meta property="og:url" content="@Context.GetLink(Model, true)" />       

		<script src="@Context.GetLink("/assets/js/jquery-3.4.1.slim.min.js")"></script>
		<script src="@Context.GetLink("/assets/js/bootstrap.min.js")" defer async></script>
						
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="@Context.GetLink("/assets/js/html5shiv.js")"></script>
			<script src="@Context.GetLink("/assets/js/respond.min.js")"></script>
		<![endif]-->
		
		@await Html.PartialAsync("_Head")
	</head>
	<body>
		<header>
			<a class="header__link" href="@Context.GetLink("/")">
				<h2>@Context.String(BlogKeys.Title)</h2>
			</a>    
			@await Html.PartialAsync("_Navbar")
		</header>
		<div>
			<div>
				<div>
					@if(IsSectionDefined("Header"))
					{
						@RenderSection("Header")
					}
				</div>
			</div>
		</div>
		
		<!-- Main Content -->
		<div>
			<div>
				<div id="content">
					@RenderBody()
				</div>
			</div>
		</div>		
		
		<!-- Footer
		<!-- 
		<footer>
			@await Html.PartialAsync("_Footer")
		</footer> 
		-->
		<link href="@Context.GetLink("/assets/css/master-clean.css")" rel="stylesheet" />     

		<!--
		<link href="@Context.GetLink("/assets/css/bootstrap.min.css")" rel="stylesheet" />                
		<link href="@Context.GetLink("/assets/css/clean-blog.css")" rel="stylesheet" />                
		@await Html.PartialAsync("_InlineCSS")
		-->
		<script src="@Context.GetLink("/assets/js/highlight.pack.js")"></script>   
		<script src="@Context.GetLink("/assets/js/clean-blog.js")" defer async></script>
		
		@await Html.PartialAsync("_Scripts")
		<script>
			hljs.initHighlightingOnLoad();
		</script>
	</body>
</html>

