@model IEnumerable<IDocument>

@{
    foreach (IDocument post in Model)
    {
        string lead = post.String(BlogKeys.Lead);
        
        <div class="post-list">
            <a href="@Context.GetLink(post)">
                <h1 class="post-title">@post.WithoutSettings.String(BlogKeys.Title)</h1>
                @if(!string.IsNullOrWhiteSpace(lead))
                {
                    <h4 class="post-subtitle">@lead</h4>
                }
            </a>
            <p class="post-meta">@(post.Get<DateTime>(BlogKeys.Published).ToLongDateString(Context))</p>      
            @if(Context.Bool(BlogKeys.IndexFullPosts))
            {
                @Html.Raw(post.Content)
            }
            else
            {
                @Html.Raw(post.String(BlogKeys.Excerpt))
            }         
        </div>
    }
}